@media screen and (max-width: 768px) {
	.container {
		width: 90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.col-3 {
		width: 100%;
	}
}